@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

* {
  margin: 0;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #eee;
}

#title {
  color: red;
}

.milestone-container {
  display: flex;
  gap: 10px;
  margin: 20px auto;

  max-width: 1080px;
}

.milestone-card {
  background-color: white;
  box-shadow: 0 0 10px 5px rgb(0 0 0 / 0.1);
  padding: 20px;

  display: flex;
  flex-direction: column;

  justify-content: space-between;

  width: 50%;
  height: auto;
  border-radius: 8px;
  box-sizing: border-box;
}

a:hover {
  color: red;
}

input:focus {
  background-color: black;
  color: white;
}

@media (max-width: 768px) {
  .milestone-container {
    flex-direction: column;
    gap: 20px;
  }

  .milestone-card {
    width: 100%;
    box-sizing: border-box;
  }
}
